/*
CSD 460 Capstone Project
Orange Group 2023
Amanda Sherman
Caleb Rummel
Karendaysu Wolfe
Robin Pindel
*/


/*div {
  border: solid 1pt red;
}*/

#lookuplink {
  display: inline-block;
  width: 49%;
  margin: 10px 0 10px 0;
}

#accountlinks {
  width: 49%;
  float: right;
  text-align: right;
  margin: 10px 0 10px 0;
}

#bannerimage {
  width: 100%;
  height: 60vh;
  margin-bottom: 10px;
  text-align: center;
  border: solid 1px #595959;
}

#banner {
  width: 100%;
  height: 100%;
  border: solid 1px #595959;
}

#mblname h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 3%;
  left: 26.5%;
}

#lookuplink a, #accountlinks a {
  color: #595959;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration-line: none;
}

#accountlinks img {
  padding: 0 10px;
}

#lookuplink a:hover, #accountlinks a:hover {
  text-decoration-line: underline;
  background-color: #80A6A2;
  color: #CEC2B8;
}

#navigationbar {
  display: flex;
  background-color: #F2F0E9;
  margin-bottom: 10px;
}

#nav1, #nav2, #nav3, #nav4 {
  flex: 1;
  margin: 1px;
  background-color: #80A6A2;
  border: solid 1px #595959;
}

#navigationbar a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigationbar a:hover {
  background-color: #CEC2B8;
  color: #80A6A2;
}

body {
  background-color: #F2F0E9;
  /* background-color: #6096aa;
  background-color: #29738f;
  background-color: #cec2b8;
  background-color: #80A6A2; */
}

#content-container {
  border: solid 1px#80A6A2;
  padding: 0px 10px 10px 10px;
  border-radius: 2px;
  color: #595959;
}

#content-container a {
  color: #595959;
  font-weight: bold;
  padding: 14px 22px;
  text-decoration-line: underline;
}

#content-container a:hover {
  background-color: #80A6A2;
  color: #CEC2B8;
  text-decoration-line: none;
}

#copyright {
  color: #595959;
  text-align: center;
}

#main {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 760px) {
  #lookuplink {
    width: 100%;
    margin: 10px 0; 
    text-align: center; 
  }

  #accountlinks {
    width: 100%;
    float: none; 
    text-align: center;
    margin-top: 10px; 
  }

  #main {
    width: 100%; 
    max-width: 700px; 
  }

  #mblname h1 {
    font-size: 2.5em; 
    text-align: left;
    margin-top: 20%;
  }

  #navigationbar {
    flex-direction: column; 
  }

  #nav1, #nav2, #nav3, #nav4 {
    margin: 0; 
  }

  /* Additional styles for mobile devices */
}

#contact-info {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

#contact-info p {
  margin: 5px 0;
}

#pricing {
  border: solid 1px #595959;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}

#content-container {
  text-align: center;
}

div#welcome {
  text-align: left;
}

.table-layout {
  display: inline-block;
}

fieldset {
  color: #595959;
}

label {
  width: 400px;
  /*display: inline-block;*/
  font-size: 1.5rem;
}

label.reg {
  width: 200px;
  display: inline-block;
  text-align: left;
}

/*label.res {
  width: 110px;
}*/

label.lookup {
  width: 40px;
  font-size: 1.1rem;
}

input, select {
  border: 1px solid #595959;
  padding: 10px;
  margin: 0 auto;
}

form {
  margin: 25px auto;
  padding: 20px;
  width: 54%;
}

div.form-element {
  margin: 20px 0;
}

button:not(.lookup) {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 100;
  background: #80A6A2;
  border: solid 1px #595959;
  color: white;
}

button.lookup {
  margin: 5px;
}
  
p.error {
  color: white;
  font-family: lato;
  background: orangered;
  display: inline-block;
  padding: 2px 10px;
}

p.success {
  background-color: yellowgreen;
}

#login {
  color: #595959;
  font-weight: bold;
  padding: 14px 16px;
}

#login:hover {
  background-color: #80A6A2;
  color: #CEC2B8;
}

#fields-container, .res-fields {
  display: inline-block;
}

.res-fields {
  width: fit-content;
}

#res-review-details {
  width: 54%;
  margin: 20px auto 0 auto;
}

/*Large chunks of contact form were taken from https://www.w3schools.com/howto/howto_css_contact_form.asp*/ 

/* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=tel], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #80A6A2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, change color */
input[type=submit]:hover {
  background-color: #595959;
}